/* off white #fffbef, rose #f1ccc4, blue #586c84, lighter blue #718da3, green #77897d, lighter green #88a58f*/
.mr-de-haviland-regular {
  font-family: "Mr De Haviland", cursive;
  font-weight: 400;
  font-style: normal;
}

.baskervville-sc {
  font-family: "Baskervville SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.bodoni-moda-sc {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: "Bodoni Moda SC", serif; 
    background-color: #fffbef;
    text-align: left
  }

  h1{
    font-family: "Mr De Haviland";
    font-size: 5em;
  }
  h2{
    font-family: "Mr De Haviland";
    text-align: center;
    font-size: 3em;
  }
  h3{
    font-family:  "Bodoni Moda SC", serif;
    text-align: center;
    font-size: 1.5em; 
  }
  h4{
    font-family: "Bodoni Moda SC", serif;
    text-align: center;
    font-weight: 500;
    font-size: x-large;
  }
  p{
    text-align: left;
    font-weight: 400;
    font-size: large;
  }
  
  /* header/page title */

  .header {
    font-size: 4em;
    text-align: center;
  }
  
    /* Main content */
 main, html{
    display: flexbox;
    height: 100%;
 }
  /* Images */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(#f1ccc433, #fffbef), url("images/flowers.jpg");
  
    /* Set a specific height */
    height: 75vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .rsvp-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(241, 204, 196, 0.2), #fffbef), url("images/rsvp.jpg");
  
    /* Set a specific height */
    height: 60vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .anfahrt-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(241, 204, 196, 0.2), #fffbef), url("images/anfahrt.jpg");
  
    /* Set a specific height */
    height: 60vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .info-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(241, 204, 196, 0.2), #fffbef), url("images/infos.jpg");
  
    /* Set a specific height */
    height: 60vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .kontakt-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(241, 204, 196, 0.2), #fffbef), url("images/kontakt.jpg");
  
    /* Set a specific height */
    height: 60vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
    .countdown-timer {
    font-family: "Bodoni Moda SC", serif;
  }


  /* Menu */
  .menubtn {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f1ccc400;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

 
  .menubtn:hover, .menubtn:focus {
    background-color: #f1ccc400;
  }
  
  .toggle-menu {
    position: relative;
    display: inline-block;
    left: 1%;
    top:  1%;
  }
  
  .menu-content {
    display: none;
    position: absolute;
    background-color: #f1ccc499;
    border-radius: 5px;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .menu-content a {
    color: black;
    opacity: 100%;
    background-color: #f1ccc400;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .menu-content a.active {
    font-weight: bold;
    background-color: #f1ccc4;    
}
  .toggle-menu a:hover {
    background-color: #f1ccc4; 
    font-weight: bold;
  }
  
  .show {display: block;}
  
 
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;

  }

.google-form {
    text-align: center;
    height: 100vh;
}

.iframe {
    display: inline-block;
}

.button{
    background-color: #f1ccc499;
    border: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
}
.button:hover{
  background-color: #f1ccc4;
}
.button-content a{
    color: black;
    opacity: 100%;
    background-color: #f1ccc400;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Bodoni Moda SC", serif;
}

.column {
    display: table-cell;
    float: left;
    width: 50%;
    top: 50%;
    padding: 10px;
    text-align: center;
  }

  /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 25%;
    padding-left: 5%;
    margin-top: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 75%;
    padding-left: 20px;
    margin-top: 20px;
  }
 
  /* Add a card effect for articles */
.card {
    background-color: #f1ccc499;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;

  }
.card_transparent {
  background-color: #f1ccc400;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;

}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 850px) {
    .column, .leftcolumn, .rightcolumn, .button {
      display: block;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
  }

/* Style the Image Used to Trigger the Modal */
#taxiJPG {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#taxiJPG:hover {opacity: 0.7;}

#hotelJPG {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#hotelJPG:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fffbef; /* Fallback color */
  background-color: #fffbef99;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
/* .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #333333;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
} */
.close {
  position: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 5px;
  background-color: #333333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.close:hover,
.close:focus {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 850px){
  .modal-content {
    width: 100%;
  }
}